@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
@import "tailwindcss";

body{
    background-color:rgba(250,250,250, 1);
}

h2,h3{
    font-family: 'Instrument Sans',sans-serif;
}

h1{
    font-family: 'Braah One',sans-serif;
}

/* select */
::-moz-selection { /* Code for Firefox */
  color:oklch(68.1% 0.162 75.834) ;
}

::selection {
  color:oklch(68.1% 0.162 75.834);
}

p{
  font-family: 'Instrument Sans',sans-serif;
}

/* hide slide */
/* Hide scrollbar for Chrome, Safari, Edge */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
* {
    scrollbar-width: none;  
    -ms-overflow-style: none; /* IE */
}
